<%include ../partials/header%>
<br>
<br>
<h1><%=currUser.username%></h1>
<br>
<h2>ID: <%=currUser.id%></h2>
<h2>Avatar: <%=currUser.userInfo.avatar%></h2>
<h2>Account Created Date: <%=currUser.created%></h2>
<h2>Name: <%=currUser.userInfo.name%></h2>
<%include ../partials/footer%>